@font-face {
	font-family: 'CELTG';
	src:  url('CELTG.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_30923">Text with this font applied</p> */
.ts_t {
	font-family: 'CELTG';
}

/* Font downloaded from FontsForWeb.com */